body,html,{
    min-height: 100%;
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    padding:0px;
    background-color: floralwhite;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight:500
}

.top-header{
    font-family: "Nanum Brush Script", Cursive;
    font-size:4em;
    font-weight:500;
    color:beige;
    text-shadow:2px 2px 2px rgba(2,2,2,2);
    position: absolute;
            left: 50%;
            top: 70%;
            transform:translateX(-50%) translateY(-50%);
}

#spotify2{
    position:relative;
    top:15px;
    right:25px;
    float:right;
    margin: 0px;
    padding:0px 0px;
}

#family{
    font-family: "Amatic SC";
    font-size: 2em;
    color:floralwhite;
    text-shadow: 1px 1px 0 rgba(2,2,2,2);
    width:100vw;
    height:136vh;
    background-image: url(family.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    display:table;
    background-attachment: relative;
}



#tucker{
    height:100%;
    width:100%;
    background-image: url(tucker.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    display:table;
    background-attachment: fixed;
    right:100px;
}

h1{
    font-family: "Amatic SC";
    font-size:6em;
    text-shadow: 2px 2px 0 rgba(2,2,2,2);
    margin:0px;
    padding:0px;
    color:beige;
    display:table-cell;
    position: relative; 
    text-align:left;
    float:left;
    top:115px;
    left:15px;
}

#tuckerp{
    font-family:"Handlee";
    font-size: 4em;
    color:floralwhite;
    text-shadow: 1px 1px 0 rgba(2,2,2,2);
    width:30%;
    text-align: right;
    float:right;
    margin-right:50px;
    
}

#tuckerl{
    font-family: "Amatic SC";
    font-size: 2.5em;
    color:black;
    position:relative;
    text-align: left;
    float:right;
    width:45%;
    left:0px;
}


#tucker2{
    height:100%;
    width:100%;
    background-image: url(tucker2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display:table;
    background-attachment: fixed;
}

#jack{
    height:100vw;
    width:100%;
    background-image: url(jack.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    display:table;
    background-attachment: fixed;
    text-align:left;
    float:left;
    top:115px;
    left:15px;
}

#jackl{
    font-family: "Amatic SC";
    font-size: 2.5em;
    color:black;
    position:relative;
    text-align: left;
    float:left;
    width:45%;
    top:110px;
    left:0px;
}

#jack2{
    float:left;
    transform: translateX(35%) translateY(10%);
}

h2{
    font-family: "Amatic SC";
    font-size:6em;
    text-shadow: 4px 4px 0 rgba(2,2,2,2);
    margin-right:35px;
    margin-top:25px;
    padding:0px;
    top:30px;
    color:beige;
    display:table-cell;
    position: relative;
    float: right;
}

#paige{
    font-size: 3em;
    height:100%;
    width:100%;
    background-image: url(paige.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display:table;
    background-attachment: fixed;
}

h3{
    font-family: "Amatic SC";
    font-size:4em;
    text-shadow: 4px 4px 0 rgba(2,2,2,2);
    margin-left:35px;
    margin-bottom: 25px;
    padding:0px;
    top:250px;
    color:beige;
    display:table-cell;
    position: relative;
    float: left;
}

#paigel{
    font-family: "Amatic SC";
    font-size: 1em;
    color:black;
    position:relative;
    text-align: left;
    float:right;
    width:27%;
    top:-35px;
    padding:0 0;
    margin-top: 0px;
    margin-right: 25px;
}

#paigel1{
    font-family: "Amatic SC";
    font-size: 1em;
    color:black;
    text-align: left;
    float:right;
    width:20%;
    transform: translateX(150%) translateY(50%);
    padding:0 0;
    margin-top: 0px;
    margin-right: 0px;
}

#paigel2{
    font-family: "Amatic SC";
    font-size: .75em;
    color:black;
    text-align: left;
    float:left;
    width:20%;
    padding:0 0;
    margin-top: 0px;
    margin-right: 25px;
    position: relative;
    top:625px;
    transform: translateX(-80%)
}

#bailey{
    font-size: 3em;
    height:100%;
    width:100%;
    background-image: url(bailey.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    display:table;
    background-attachment: fixed;
}

h4{
    font-family: "Amatic SC";
    font-size:4em;
    text-shadow: 2px 2px 0 rgba(2,2,2,2);
    margin-left:35px;
    margin-top: 25px;
    padding:0px;
    top:500px;
    color:beige;
    display:table-cell;
    position: relative;
    float:right;
}

#baileyl{
    font-family: "Amatic SC";
    font-size: .75em;
    color:black;
    text-align: left;
    float:left;
    width:30%;
    position: relative;
    top:100px;
    padding:0 0;
    margin-top: 0px;
    margin-left: 25px;
}

#linnea{
    height:100vw;
    width:100%;
    background-image: url(linnea.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    display:table;
    background-attachment: fixed;
}

h5{
    font-family: "Amatic SC";
    font-size:7em;
    text-shadow: 4px 4px 0 rgba(2,2,2,2);
    margin:0px;
    padding:0px;
    color:beige;
    display:table-cell;
    position: relative; 
    text-align:left;
    float:left;
    top:115px;
    left:15px;
}

#linneal{
    font-family: "Amatic SC";
    font-size: 2em;
    color:black;
    text-align: left;
    float:left;
    width:45%;
    padding:0 0;
    margin-top: 225px;
    margin-left: 25px;
    transform: translateX(-35%)
}

#chuck{
    height:100vw;
    width:100%;
    margin-bottom: 50px;
    background-image: url(chuck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display:table;
    background-attachment: fixed;
}

#chuckl{
    font-family: "Amatic SC";
    font-size: 3em;
    color:floralwhite;
    text-shadow: 2px 2px 0 rgba(2,2,2,2);
    width:500px;
    position:relative;
    margin:0px;
    padding:0px;
    transform: translateX(100%) translateY(35%);
    text-align: center;
}

h6{
    font-family: "Amatic SC";
    font-size:12em;
    text-shadow: 4px 4px 0 rgba(2,2,2,2);
    margin-right:25px;
    margin-top: 25px;
    padding:0px;
    color:beige;
    display:table-cell;
    position: relative; 
    text-align:left;
    float:right;
}



li{
    margin:0px;
    padding:0px;
    
}



#box1 a:active{
    text-decoration-line: none;
    color:floralwhite;
}

#box1 a:link{
    text-decoration-line: none;
}

#box1 a:visited{
    text-decoration-line: none;
    color:forestgreen
}

#box1 a:hover{
    text-decoration-line: none;
    color:darkgrey;
}

.container{
    width:75%;
    margin:auto auto;
}

header{
    background-color: beige;
    width:49%;
    position: fixed;
    top:25px;    
    z-index: 1;
}

nav{
    float:center;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none; 
}

nav li{
    display: inline-block;
    margin: 1vw;
    padding-top: 25px;   
    
    position: relative;
}

nav a{
    color:black;
    text-decoration-line: none;
    font-family: "Amatic SC";
    font-size: 2em;
}

nav a:hover{
    color:darkgray
}

nav a::before{
    content:"";
    display:block;
    height:2px;
    width:100%;
    background-color:black;
    
    position:absolute;
    bottom:0;
    width: 0%;
    transition: ease-in-out 350ms;
}

nav a:hover::before{
    width:100%;
}