body,html,{
    min-height: 100%;
}

body{
    margin:0;
    padding:0;
    background-image: url(blackbear.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    background-size:auto;
    font-weight:500
}

#spotify2{
    position:relative;
    top:15px;
    right:15px;
    float:right;
    margin: 0px;
    padding:0px 0px;
}

p{
    font-family: "Amatic SC";
    font-size: 3em;
    color:beige;
    position:relative;
    float: right;
    top:0px;
    right:1350px;
    text-shadow:2px 2px 0 rgba(2,2,2,2);
}


#box1{
    font-family: "Amatic SC";
    font-size: 2em;
    color:floralwhite;
    text-shadow: 1px 1px 0 rgba(2,2,2,2);
    height:100vh;
    width:100%;
    background-image: url(umaine.jpg);
    background-size: cover;
    opacity: 0.9;
    filter: alpha(opacity=90);
    display:table;
    background-attachment: fixed;
}

#box2{
    font-family: "Amatic SC";
    font-size: 3em;
    color:floralwhite;
    text-shadow: 2px 2px 0 rgba(2,2,2,2);
    height:100vh;
    width:100%;
    background-image: url(financialeconomics.jpg);
    background-size: cover;
    display:table;
    background-attachment: fixed;
}

h2{
    font-family: "Amatic SC";
    font-size:2em;
    color:beige;
    margin:0px;
    transform: translateX(350%)translateY(50px);
    display:table-cell;
    position: relative;
}

li{
    position:relative;
}

#financel1{
    position:relative;
    text-align: left;
    top:150px;
    left:-150px;
    
}

#box1 a:active{
    text-decoration-line: none;
    color:floralwhite;
}

#box1 a:link{
    text-decoration-line: none;
}

#box1 a:visited{
    text-decoration-line: none;
    color:forestgreen
}

#box1 a:hover{
    text-decoration-line: none;
    color:darkgrey;
}

.container{
    width:75%;
    margin:auto auto;
}

header{
    background-color: beige;
    width:49%;
    position: fixed;
    top:25px;    
    z-index: 1;
}

nav{
    float:center;
}

nav ul{
    margin:0;
    padding:0;
    list-style: none; 
}

nav li{
    display: inline-block;
    margin: 1vw;
    padding-top: 25px;   
    
    position: relative;
}

nav a{
    color:black;
    text-decoration-line: none;
    font-family: "Amatic SC";
    font-size: 2em;
}

nav a:hover{
    color:darkgray
}

nav a::before{
    content:"";
    display:block;
    height:2px;
    width:100%;
    background-color:black;
    
    position:absolute;
    bottom:0;
    width: 0%;
    transition: ease-in-out 350ms;
}

nav a:hover::before{
    width:100%;
}